.App {
  background: #fff;
  min-height: 100vh;
}

.slds-context-bar {
  margin-top: 3.2rem;
}

.slds-not-selected .slds-text-not-selected {
  align-items: center;
}

.slds-is-selected .slds-text-selected {
  align-items: center;
}

.slds-is-selected:focus .slds-text-selected-focus,
.slds-is-selected:hover .slds-text-selected-focus {
  align-items: center;
}
